.about {
    background-color: rgba(7, 7, 7, 0.041);
}

.my-image img{
    border-radius: 50%;
    max-height: 300px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.into-text {
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 0.03cm;
    font-size: 1rem;
    line-height: 27px;
    text-align: justify;
}
.interests-skills-heading {
    font-size: 2rem;
    border: 2px solid #212529;
}
.interests-skills i {
    font-size: 1.4rem;
}
.interests-skills p {
    font-size: 1.1rem;
    font-weight: bold;
}
.interest-skill {
    border: 2px solid rgba(19, 19, 19, 0.897);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.interest-skill p {
    margin: 0;
}

.interest-skill:hover{
    color: white;
    background-color: rgba(19, 19, 19, 0.897);
    transform: scale(1.1,1.0);
}