.work {
    background-color: rgba(19, 19, 19, 0.897);
    color: white;
}
.my-project {
    height: 100%;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.my-project img {
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.my-project .overlay{
    opacity: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}
.my-project:hover .overlay {
    opacity: 1;
    z-index: 1;
}
.my-project .overlay a {
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: 2px solid rgb(219, 219, 219);
}
